<div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <span class="text-lg mb-4">Login</span>
  
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input type="text" matInput placeholder="Nombre de usuario" formControlName="username" required>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="Contraseña" formControlName="password" required>
      </mat-form-field>
  
      <button type="submit" mat-button mat-flat-button color="primary" [disabled]="loginForm.invalid || isLoading">
        <mat-spinner *ngIf="isLoading" diameter="20" class="mr-2"></mat-spinner>
        <span *ngIf="!isLoading">
          <mat-icon>login</mat-icon>
          Ingresar
        </span>
      </button>
  
      <div class="link-container mt-5">
        <a routerLink="/auth/register">¿No tienes cuenta?</a>
      </div>
    </form>
  </div>
  