<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<mat-dialog-content>
  <form [formGroup]="studentForm">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="studentForm.get('firstName')?.hasError('required')">El nombre es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="studentForm.get('lastName')?.hasError('required')">El apellido es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="studentForm.get('email')?.hasError('required')">El email es requerido</mat-error>
      <mat-error *ngIf="studentForm.get('email')?.hasError('email')">El email no es válido</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!studentForm.valid">Guardar</button>
</mat-dialog-actions>