<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<mat-dialog-content>
  <form [formGroup]="courseForm">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="courseForm.get('name')?.hasError('required')">Nombre es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error *ngIf="courseForm.get('description')?.hasError('required')">Descripción es requerida</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Cantidad</mat-label>
        <input matInput formControlName="quantity">
        <mat-error *ngIf="courseForm.get('quantity')?.hasError('required')">Debe especificar cantidad de cursos.</mat-error>
      </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Profesor asignado</mat-label>
      <textarea matInput formControlName="assignedProfessor"></textarea>
      <mat-error *ngIf="courseForm.get('description')?.hasError('required')">Debe especificar el profesor asignado.</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!courseForm.valid">Guardar</button>
</mat-dialog-actions>
